In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
data = pd.read_csv("Advertising.csv")

In [3]:
data.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
data.drop(columns=['Unnamed: 0'], inplace=True)

In [5]:
data.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [6]:
X = data.drop(columns=["Sales"])
y = data["Sales"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [8]:
model = LinearRegression()

In [9]:
model.fit(X_train, y_train)

LinearRegression()

In [10]:
y_pred = model.predict(X_test)
mse = mean_squared_error(y_test, y_pred)

In [11]:
print("Mean Squared Error:", mse)

Mean Squared Error: 3.1740973539761046

In [12]:
print("Actual vs Predicted:")
comparison_df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
print(comparison_df)

Actual vs Predicted:
     Actual  Predicted
95     16.9  16.408024
15     22.4  20.889882
30     21.4  21.553843
158     7.3  10.608503
128    24.7  22.112373
115    12.6  13.105592
69     22.3  21.057192
170     8.4   7.461010
174    11.5  13.606346
45     14.9  15.155070
66      9.5   9.048320
182     8.7   6.653283
165    11.9  14.345545
78      5.3   8.903493
186    10.3   9.689590
177    11.7  12.164944
56      5.5   8.736284
152    16.6  16.265073
82     11.3  10.277596
68     18.9  18.831091
124    19.7  19.560367
16     12.5  13.251035
148    10.9  12.336207
93     22.2  21.306951
65      9.3   7.827403
60      8.1   5.809574
84     21.7  20.757532
67     13.4  11.981381
125    10.6   9.183496
132     5.7   8.506699
9      10.6  12.466468
18     11.3  10.003377
55     23.7  21.387671
75      8.7  12.249664
150    16.1  18.266615
104    20.7  20.137663
135    11.6  14.055140
137    20.8  20.854112
164    11.9  11.017444
76      6.9   4.568996

In [13]:
comparison_df['Difference'] = comparison_df['Actual'] - comparison_df['Predicted']
print("Difference between Actual and Predicted:")
print(comparison_df)

Difference between Actual and Predicted:
     Actual  Predicted  Difference
95     16.9  16.408024    0.491976
15     22.4  20.889882    1.510118
30     21.4  21.553843   -0.153843
158     7.3  10.608503   -3.308503
128    24.7  22.112373    2.587627
115    12.6  13.105592   -0.505592
69     22.3  21.057192    1.242808
170     8.4   7.461010    0.938990
174    11.5  13.606346   -2.106346
45     14.9  15.155070   -0.255070
66      9.5   9.048320    0.451680
182     8.7   6.653283    2.046717
165    11.9  14.345545   -2.445545
78      5.3   8.903493   -3.603493
186    10.3   9.689590    0.610410
177    11.7  12.164944   -0.464944
56      5.5   8.736284   -3.236284
152    16.6  16.265073    0.334927
82     11.3  10.277596    1.022404
68     18.9  18.831091    0.068909
124    19.7  19.560367    0.139633
16     12.5  13.251035   -0.751035
148    10.9  12.336207   -1.436207
93     22.2  21.306951    0.893049
65      9.3   7.827403    1.472597
60      8.1   5.809574    2.290426
84     21.7  20.757532    0.942468
67     13.4  11.981381    1.418619
125    10.6   9.183496    1.416504
132     5.7   8.506699   -2.806699
9      10.6  12.466468   -1.866468
18     11.3  10.003377    1.296623
55     23.7  21.387671    2.312329
75      8.7  12.249664   -3.549664
150    16.1  18.266615   -2.166615
104    20.7  20.137663    0.562337
135    11.6  14.055140   -2.455140
137    20.8  20.854112   -0.054112
164    11.9  11.017444    0.882556
76      6.9   4.568996    2.331004

In [17]:
new_data = pd.DataFrame({
    "TV": [230, 38, 69],
    "Radio": [30, 20, 40],
    "Newspaper": [40, 10, 20]
})

In [18]:
predicted_sales = model.predict(new_data)

In [19]:
print("Predicted Sales:")
for i, prediction in enumerate(predicted_sales):
    print(f"Prediction {i+1}: {prediction}")

Predicted Sales:
Prediction 1: 19.05315255661337
Prediction 2: 8.490301230035051
Prediction 3: 13.68842849966646

In [ ]:
# task completed