In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
iris_data = pd.read_csv("iris.csv")

In [3]:
print(iris_data.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris_data = iris_data.drop('Id', axis=1)

In [5]:
iris_data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
X = iris_data.drop('Species', axis=1)
y = iris_data['Species']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [10]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [11]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 1.0

In [ ]:
#100% accurate

In [ ]:
#test prediction

In [13]:
new_data = [[5.1, 3.5, 1.4, 0.2],
            [6.9, 3.1, 5.4, 2.1], 
            [4.8, 3.0, 1.4, 0.1],
            [6.0, 3.0, 4.8, 1.8],  
            [5.5, 2.4, 3.7, 1.0],  
            [6.3, 3.3, 6.0, 2.5]]

In [14]:
new_data_df = pd.DataFrame(new_data, columns=X.columns)

In [15]:
predictions = model.predict(new_data_df)

In [16]:
for i, pred in enumerate(predictions):
    print(f"Prediction for example {i+1}: {pred}")

Prediction for example 1: Iris-setosa
Prediction for example 2: Iris-virginica
Prediction for example 3: Iris-setosa
Prediction for example 4: Iris-virginica
Prediction for example 5: Iris-versicolor
Prediction for example 6: Iris-virginica

In [ ]:
#task completed